//Colors
$color-tan:#7d7769;
$color-lightGray:#979ba0;
$color-white:#f0f0f1;
$color-mediumGray:#575c62;
$color-brown:#473027;
$color-darkGray:#303b43;
$color-black:#07090c;
$color-blue:#3d7b81;
$color-orange:#fc9c46;
$color-red:#ed5c4e;
$color-purple:#d34ee8;


//Gradients
$color-gradient:radial-gradient(circle at top left,#3c4652, #444f5d, #191e24 50%);

//Font
$main-font:'Roboto', sans-serif;

//fontsizes
//H1
$h1: 3rem;
$xtra-small: .8rem;
$small: 1.15rem;


//Padding defaults
$padding-general: 2rem 2rem;